<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer Contact</title>
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <div class="container">

        <div class="title">
            <header>
                <h1>Contact Details</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
               <input class="button" type="submit"  value="Back" name="" >
            </a>
        </div>

        <br>

        <div class="intro">
            <p>
                Hello from Adityaraj, Kaustubh and Karthik.We are currently pursuing B.E degree from JSPM's BSIOTR college Pune.We are developers of this project.
                Feel Free to Contact!😉
            </p>
        </div>

        <div class="github">

            <a href="https://github.com/AdityarajChaudhari">Adityaraj Chaudhari Github</a>
            <a href="https://github.com/KaustubhDubey">Kaustubh Dubey Github</a>
            <a href="https://github.com/Karthikgatlabsiotr">Karthik Gatla Github</a>
        </div>
        <br>

        <div class="linkedin">
            <a href="https://www.linkedin.com/in/adityaraj-chaudhari-4450701b9/">Adityaraj Chaudhari Linkedin</a>
            <a href="https://www.linkedin.com/in/kaustubh-dubey-63a75215b/">Kaustubh Dubey Linkedin</a>
            <a href="https://www.linkedin.com/in/karthik-gatla-2280b1209">Karthik Gatla Linkedin</a>
        </div>
        <br>

        <div class="foot">
            <footer>Copyright © Copyright © Wheat Kernel Identifier</footer>
        </div>

    </div>
</body>
</html>