<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="../static/css/info.css">
</head>
<body>
     <div class="container">
         <div class="title">
             <header>
                 <h1>Information of Wheat Kernel</h1>
             </header>
         </div>

         <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
                <input class="button" type="submit"  value="Back" name="" >
            </a>
        </div>
        <br>

         <div class="Content">
             <div class="what">
                 <h1>What is a Wheat Kernel?</h1>
             </div>

             <div class="what-ans">
                 <p>
                     The wheat kernel is sometimes called the wheat berry. The kernel is the seed from which the wheat plant grows. Each tiny seed contains three distinct parts that are separated during the milling process to produce flour.
                 </p>
             </div>

             <div class="type">
                 <h1>How many parts of Wheat Kernels?</h1>
             </div>

             <div class="types-kernel">
                 <p>There are three parts of Wheat Kernels.</p>
                 <ul>
                     <li>Endosperm</li>
                     <p>Endosperm is about 83% of the kernel weight and the source of white endosperm flour. The endosperm contains the greatest share of protein, carbohydrates, and iron, as well as B-vitamins such as riboflavin, niacin.  It is also a source of soluble fiber.</p>
                     <li>Bran</li>
                     <p>Bran is about 14% of the kernel weight. Bran is included in whole wheat flour and can also be bought separately. The bran contains a small amount of protein, trace minerals, and dietary fiber – primarily insoluble.</p>
                     <li>Germ</li>
                     <p>Germ is about 2.5% of the kernel weight. The germ is the embryo or sprouting section of the seed. It is often separated from flour because the fat content (10%) limits shelf life. The germ contains minimal quantities of high quality protein and a greater share of B-complex vitamins and trace minerals. Wheat germ is part of whole wheat flour and can be purchased separately.</p>
                 </ul>
             </div>

             <div class="bene">
                 <h1>Give some benefits of Wheat Kernel</h1>
             </div>

             <div class="benefits">
                 <p>Some of the benefits of Wheat Kernel are:- </p>
                 <ul>
                     <li>Regulate Blood Sugar Levels.</li>
                     <li>Support a Healthy Heart and Strong Bones.</li>
                     <li>Help With Weight Loss.</li>
                     <li>Promote Good Deficiency.</li>
                 </ul>
             </div>

             <div class ="app-info">
                 <h1>App Info</h1>
             </div>

             <div class="app-information">
                 <p>As We know there are three parts in the wheat kernel namely endosperm
                 ,germ and bran.The measurements of these parts like area,Compactness,etc can be used distinguish between different types
                 of wheat kernels like Rosa,Kama,etc.</p>
                 <p>Here we consider three different types of Wheat Kernels namely Rosa,Kama and Canadian.
                 So based on the measurements like area,perimeter,compactness,etc we can classify the Wheat Kernel
                 into Rosa,Kama and Canadian.</p>
                 <p>Wheat is one of the oldest and most important of the cereal crops. Of the thousands of varieties known, the most important are common wheat (Triticum aestivum), used to make bread; durum wheat (T. durum), used in making pasta (alimentary pastes) such as spaghetti and macaroni; and club wheat (T. compactum), a softer type, used for cake, crackers, cookies, pastries, and flours. Additionally, some wheat is used by industry for the production of starch, paste, malt, dextrose, gluten, alcohol, and other products.
</p>
                 <p>There are different types of Wheat and these types can be classified using various factors.These different types of Wheat are:-
                     <ul>
                         <li>Rosa</li>
                            <p>Rose winter wheat is one of the best adapted winter wheat varieties for South Dakota, North Dakota, Montana and southern Canada. The variety has a combination of excellent winter hardiness, high yield potential, and straw strength that makes it superior to other excellent winter hardy varieties such as Norstar, Roughrider and Winoka. Rose has been accepted by growers as a variety that is winter hardy and stands well.</p>
                         <li>Kama</li>
                            <p>A data set obtained from the UC Irvine Machine Learning Repository contains information regarding 210 kernels from three different varieties of wheat (Kama, Rosa, and Canadian). These analyses indicated that varieties of wheat kernels can be discriminated by their size, compactness, and shape. On average, the Rosa variety is the largest type of wheat kernel, and the Canadian is the smallest while Kama is intermediate in size, making it difficult to distinguish. However, the Kama variety is typically more spherical than the other groups. On average , the Canadian variety is the least dense whereas Rosa and Kama kernels are typically more compact. These errors all involved the Kama variety because its ranges for all of the variables included in the data set overlapped with the ranges of both the Canadian and Rosa varieties.</p>
                         <li>Canadian</li>
                            <p>Canadian wheat varieties are grouped by their functional characteristics. For example, varieties in the Canada Prairie Spring Red class have medium hard kernels and medium dough strength. Canadian wheat classes are categorized as Western Canadian and Eastern Canadian by the regions in which the varieties are grown.</p>
                     </ul>
                 </p>
                 <p>So by using Machine Learning algorithms and different techniques we have tried to classify different types of wheat based on various components.By using Hyperparameter Tuning techniques we can achieve optimal results.Then by creating frontend, by developing API and connecting database we can create an end to end application and deploy the application on the cloud enviornment so it is available and can be used by anyone. </p>
             </div>

         </div>


         <div class="foot">
             <footer>Copyright © Wheat Kernel Identifier</footer>
         </div>

     </div>


</body>
</html>